@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.container{
    background-color: #F5F5F5;
    height: 100vh;
}

.chooseText{
    display: flex;
    background-color: #F5F5F5;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 40pt;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    animation: fade-in 2s;
 }

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 2s;
}

.imageSize{
    padding-left: 20px;
    margin-right: 25px;
    margin-top: 10px;
}

.pageLogo{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@media screen and (max-width: 430px) {
    .chooseText{
        display: flex;
        background-color: #F5F5F5;
        font-family: "VT323", monospace;
        font-weight: 400;
        font-size: 30pt;
        justify-content: center;
        align-items: center;
        margin-top: 60%;
        animation: fade-in 2s;
    }
}

@media screen and (max-width: 330px) {
    .chooseText{
        display: flex;
        background-color: #F5F5F5;
        font-family: "VT323", monospace;
        font-weight: 400;
        font-size: 20pt;
        justify-content: center;
        align-items: center;
        margin-top: 60%;
        animation: fade-in 2s;
    }

    .imageSize{
        display: flex;
        justify-content: space-evenly;
        padding-left: 20px;
        margin-right: 25px;
        margin-top: 10px;
    }
}